.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-3kIELR5Y6vpj);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-45qUkl6zGtac);
  font-family: "Poppins", sans-serif;
  font-size: var(--token-S0eYeaJa_fp1);
  line-height: var(--token-v0PtuF01J2Zb);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-Gk5hk9Wq5lSG);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-Bd0X3AVQHJ6W);
  outline-offset: 1px;
  outline-color: var(--token-MmwPOLH0KWYP);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-C_RgEhBTQvpY);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-b1FfyjykQ8u3);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-GoxAvQ-OPyQr);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-UlU0pMl2_QgP);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-Nb1W8FZJx7BO);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-8FnutMFzmMvd);
  font-size: var(--token-acA7gq8vBAeO);
  column-gap: var(--token-Bd0X3AVQHJ6W);
  row-gap: 0px;
  border-radius: var(--token-K3xKY5U1u85o);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-acA7gq8vBAeO);
  line-height: var(--token-8FnutMFzmMvd);
  column-gap: var(--token-K3xKY5U1u85o);
  row-gap: 0px;
  border-radius: var(--token-K3xKY5U1u85o);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-xFDIKUE2e0Ic);
  line-height: var(--token-E00xOTB4gSDi);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-xFDIKUE2e0Ic);
  line-height: var(--token-E00xOTB4gSDi);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-m_j4wb1X7rDU);
  border-radius: var(--token-Gk5hk9Wq5lSG);
}
.softBackgroundcolor_neutral {
  background: var(--token-jfO3oFvhZID_);
}
.softBackgroundcolor_muted {
  background: var(--token-uUQDlg8Y44Sa);
}
.softBackgroundcolor_success {
  background: var(--token-U8_co1CZ79s2);
}
.softBackgroundcolor_warning {
  background: var(--token-xXvnqvQ8vC-u);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-Av1Lb3epHQPv);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-Gk5hk9Wq5lSG);
  border: 0px solid var(--token-MmqhclIt1OOV);
}
.bordercolor_neutral {
  border-color: var(--token-vy_fwWqb3a2U);
}
.bordercolor_muted {
  border-color: var(--token-qmPYj4lc5OgX);
}
.bordercolor_success {
  border-color: var(--token-5J7u1KfO5J_z);
}
.bordercolor_warning {
  border-color: var(--token-KDL4w7D3xL1h);
}
.bordercolor_errorDestructive {
  border-color: var(--token-XMIj_0l53NiD);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-Gk5hk9Wq5lSG);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-u2XJf94TUhNA);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-Afly2C_V2ZZM);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-yVYWDAyA8xvV);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__rr0Wp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-Gk5hk9Wq5lSG);
  min-width: 0;
  min-height: 0;
  padding: 4px 8px;
}
.freeBoxsize_extraSmall__rr0WpWqAkB {
  padding: var(--token-K3xKY5U1u85o) var(--token-Gk5hk9Wq5lSG);
}
.freeBoxsize_small__rr0Wpp9R3 {
  padding: var(--token-Gk5hk9Wq5lSG) var(--token-45qUkl6zGtac);
}
.freeBoxsize_large__rr0WpDdNbk {
  padding-top: var(--token-K3xKY5U1u85o);
  padding-bottom: var(--token-K3xKY5U1u85o);
}
.freeBoxsize_extraLarge__rr0WPseFn0 {
  padding-left: var(--token-6KRbVPmX5HdI);
  padding-right: var(--token-6KRbVPmX5HdI);
}
.freeBoxroundedFull__rr0WPnKzyK {
  padding-right: var(--token-6KRbVPmX5HdI);
  padding-left: var(--token-6KRbVPmX5HdI);
}
.freeBox__zcv7 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__zcv7C3FLm {
  display: flex;
}
.slotTargetStart {
  color: var(--token-rmLSbUv8mK0R);
}
.slotTargetStartcolor_neutral {
  color: var(--token-Pb5z-UTeKjdY);
}
.slotTargetStartcolor_muted {
  color: var(--token-vgnnSRNUh2tR);
}
.slotTargetStartcolor_success {
  color: var(--token-SlC8ySb1sFp_);
}
.slotTargetStartcolor_warning {
  color: var(--token-alGaeoF-Pz_f);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-bJXKk58BnwuQ);
}
.slotTargetStarttype_soft {
  color: var(--token-5Qg_HyWSoTbw);
}
.slotTargetStarttype_bordered {
  color: var(--token-5Qg_HyWSoTbw);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-acA7gq8vBAeO);
}
.slotTargetStartsize_small {
  font-size: var(--token-acA7gq8vBAeO);
}
.slotTargetStartsize_large {
  font-size: var(--token-xFDIKUE2e0Ic);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-xFDIKUE2e0Ic);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-xutoX9AVW5BA);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-xutoX9AVW5BA);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-CBKqOIbxBDCT);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-CBKqOIbxBDCT);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-v_AVVzHtwaZI);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-v_AVVzHtwaZI);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-EN9FIny4Ni7u);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-EN9FIny4Ni7u);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-VJI4tI4g-HMC);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-VJI4tI4g-HMC);
}
.svg__h2WpJ {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-rmLSbUv8mK0R);
  font-family: "Poppins", sans-serif;
}
.slotTargetLabelcolor_neutral {
  color: var(--token-Pb5z-UTeKjdY);
}
.slotTargetLabelcolor_muted {
  color: var(--token-vgnnSRNUh2tR);
}
.slotTargetLabelcolor_success {
  color: var(--token-SlC8ySb1sFp_);
}
.slotTargetLabelcolor_warning {
  color: var(--token-alGaeoF-Pz_f);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-bJXKk58BnwuQ);
}
.slotTargetLabeltype_soft {
  color: var(--token-5Qg_HyWSoTbw);
}
.slotTargetLabeltype_bordered {
  color: var(--token-5Qg_HyWSoTbw);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-xutoX9AVW5BA);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-CBKqOIbxBDCT);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-xutoX9AVW5BA);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-v_AVVzHtwaZI);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-CBKqOIbxBDCT);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-EN9FIny4Ni7u);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-v_AVVzHtwaZI);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-VJI4tI4g-HMC);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-EN9FIny4Ni7u);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-VJI4tI4g-HMC);
}
.text__eYoKj {
  white-space: pre;
  font-size: 12px;
  color: var(--token-_gN_3-Mx800z);
}
.freeBox__w9O2Q {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__w9O2Qxu1Yb {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-rmLSbUv8mK0R);
}
.slotTargetEndcolor_neutral {
  color: var(--token-Pb5z-UTeKjdY);
}
.slotTargetEndcolor_muted {
  color: var(--token-vgnnSRNUh2tR);
}
.slotTargetEndcolor_success {
  color: var(--token-SlC8ySb1sFp_);
}
.slotTargetEndcolor_warning {
  color: var(--token-alGaeoF-Pz_f);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-bJXKk58BnwuQ);
}
.slotTargetEndtype_soft {
  color: var(--token-5Qg_HyWSoTbw);
}
.slotTargetEndtype_bordered {
  color: var(--token-5Qg_HyWSoTbw);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-acA7gq8vBAeO);
}
.slotTargetEndsize_small {
  font-size: var(--token-acA7gq8vBAeO);
}
.slotTargetEndsize_large {
  font-size: var(--token-xFDIKUE2e0Ic);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-xFDIKUE2e0Ic);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-xutoX9AVW5BA);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-xutoX9AVW5BA);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-CBKqOIbxBDCT);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-CBKqOIbxBDCT);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-v_AVVzHtwaZI);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-v_AVVzHtwaZI);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-EN9FIny4Ni7u);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-EN9FIny4Ni7u);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-VJI4tI4g-HMC);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-VJI4tI4g-HMC);
}
.svg___2Kb5 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
