.frame127 {
  background: rgba(255, 255, 255, 1);
  filter: none;
  width: 649px;
  height: 415px;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  border-radius: 12px;
}
.frame112 {
  width: 142px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
}
.frame113 {
  height: 38px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 89px;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 12px;
  cursor: grab;
  pointer-events: auto;
  flex-shrink: 0;
}
.text__f0U4 {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(44, 44, 44, 1);
  position: relative;
  user-select: none;
}
.rectangle7 {
  background: rgba(239, 239, 239, 1);
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.frame114 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame115 {
  height: 40px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  padding: 10px 16px;
}
.text__l0C3C {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  user-select: none;
}
.rectangle11 {
  background: rgba(239, 239, 239, 1);
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.rectangle12 {
  background: rgba(246, 246, 246, 1);
  width: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.frame124 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame118 {
  height: 38px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 75px;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 8px;
  flex-shrink: 0;
}
.sidebarLeft2 {
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.vuesaxOutlineSidebarLeft2 {
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__h0IFe {
  object-fit: cover;
  max-width: 100%;
  color: #2c2c2c;
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.frame128 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  justify-content: flex-start;
}
.textfield2 {
  background: rgba(246, 246, 246, 1);
  width: 192px;
  height: 24px;
  display: flex;
  position: relative;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 10px 8px;
}
.searchNormal2 {
  width: 12px;
  height: 12px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.vuesaxOutlineSearchNormal2 {
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__atXf {
  object-fit: cover;
  max-width: 100%;
  color: #9a9a9a;
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.textInput3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  transform: none;
}
.maximize42 {
  width: 14px;
  height: 14px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.vuesaxOutlineMaximize42 {
  width: 14px;
  height: 14px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__iCx5 {
  object-fit: cover;
  max-width: 100%;
  color: #171717;
  width: 14px;
  height: 14px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__sj5Sn {
  object-fit: cover;
  max-width: 100%;
  color: #1b1f24;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.rectangle8 {
  background: rgba(239, 239, 239, 1);
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.frame132 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px;
}
.frame134 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  justify-content: space-between;
}
.text__yetQe {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(44, 44, 44, 1);
  position: relative;
}
.freeBox__heGnq {
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}
.svg__vVuIl {
  object-fit: cover;
  max-width: 100%;
  color: #9a9a9a;
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
}
.freeBox__syyYc {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.freeBox___0FjYy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__z2Lnt {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-_gN_3-Mx800z);
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
}
