.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 32px;
  max-width: 100%;
  background: var(--token-3kIELR5Y6vpj);
  position: relative;
  cursor: pointer;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.rootselected2 {
  background: var(--token-yVYWDAyA8xvV);
}
.root:hover {
  background: var(--token-yVYWDAyA8xvV);
}
.svg__sVy7B {
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  height: 18px;
  color: var(--token-_gN_3-Mx800z);
  flex-shrink: 0;
}
