.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  cursor: pointer;
  transition-property: all;
  transition-duration: 100ms;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 100ms;
  padding: 0px;
}
.svg__qDfiq {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-_gN_3-Mx800z);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
